<div class="feedContainer">
    <div class="feedText">Главное</div>
    <ul class="feed">
        {{#each items}}
            <li class="{{this.className}}">
                <div class="feeda" data-section="{{this.key}}">
                    {{this.name}}
                </div>
            </li>
        {{/each}}
    </ul>

    <h1>Новые треки, альбомы и сборники</h1>
    <div class="contentContainer">
        <ul class="content">
            {{#each content}}
                <li class="{{this.className}}">
                    <div>
                        <img class="contentPhoto" src="{{this.port}}{{this.Preview}}" alt="1">
                        <p class="songName">{{this.Name}}</p>
                    </div>
                    <div>
                        <p class="artistName">{{this.Artist.0.Name}}</p>
                    </div>
                </li>   
            {{/each}}   
        </ul>
    </div>
</div>


    