<div class="footer">
    <div class="player" data-section="player">
        <audio preload="meta" src=""></audio>
        <div class="progress-bar">
            <div class="progress-bar__progress"></div>
        </div>
        <div class="player__container">
            <div class="prev-btn"><img class="player-btns" data-section="prevBtn" src="/static/img/SwitchBack.svg"
                    alt="">
            </div>
            {{#if Playing}}
            <div class="play-btn"><img class="player-btns" data-section="playBtn" src="/static/img/Pause.svg" alt="">
            </div>
            {{else}}
            <div class="play-btn"><img class="player-btns" data-section="playBtn" src="/static/img/Play.svg" alt="">
            </div>
            {{/if}}
            {{#each PlayerComponentConfig}}
            <div class="{{this.key}}"><img class="player-btns" data-section="{{this.key}}" src="{{this.href}}" alt="">
            </div>
            {{/each}}

            <div>
                {{#if song.Preview}}
                <img class="avatar" src="{{port}}{{song.Preview}}" alt="">
                {{else}}
                <img class="avatar" src="/static/img/grey.png" alt="">
                {{/if}}
            </div>
            <div>
                <div class="title medium-text">{{song.Name}}</div>
                <a href="/artist/{{song.ArtistId}}" class="artistname small-text" data-section="link"
                    data-url="/artist/{{song.ArtistId}}" data-Id="{{song.ArtistId}}">{{song.ArtistName}}</a>
            </div>
            {{#if song.isLiked}}
            <div class="like-btn"><img class="player-btns" data-section="likeBtn" src="/static/img/LikePressed.svg"
                    alt="">
            </div>
            {{else}}
            <div class="like-btn"><img class="player-btns" data-section="likeBtn" src="/static/img/Like.svg" alt="">
            </div>
            {{/if}}
            <div class="player__controls__options">
                <img src="/static/img/Options.svg" class="player-btns" data-section="playerTrackOptions"
                    data-id="{{song.Id}}" alt="">
                <div class="player__options" style="display: none;" data-section="playerOptions"
                    data-player="{{song.Id}}">
                    <div class="medium-text options__share" data-section="playerTrackShare" data-id="{{song.Id}}">
                        Поделиться
                        <div class="medium-text options__share__copied" data-player-track-share="{{song.Id}}">Ссылка скопирована</div>
                    </div>
                    <div class="medium-text options__add-to-playlist" data-section="playerShowAvaliblePlaylists"
                        data-id="{{song.Id}}">Добавить в плейлист</div>
                    <div class="options__avaliablePlaylists" style="display: none;" data-section="playerList"
                        data-player-list="{{song.Id}}">
                    </div>
                </div>
            </div>
            <div class="volume-btn"><img class="player-btns" data-section="volumeBtn" src="/static/img/SoundOn.svg"
                    alt="">
            </div>
            <input class="volume-bar" type='range' min="0" max="100" value="0" step="1">

        </div>
    </div>


    <div class="mobile-player">
        <div class="close-btn"><img data-section="closeBtn" src="/static/img/arrowDown.svg" alt=""></div>
        <div>
            {{#if song.Preview}}
            <img class="mobile-player__photo" src="{{port}}{{song.Preview}}" alt="">
            {{else}}
            <img class="mobile-player__photo" src="/static/img/violet.png" alt="">
            {{/if}}
        </div>
        <div class="mobile-player__info">
            <div class="mobile-player__info__name">
                {{song.Name}}
            </div>
            <div class="mobile-player__info__artist" data-section="link" data-url="/artist/{{song.ArtistId}}"
                data-Id="{{song.ArtistId}}">
                {{song.ArtistName}}
            </div>
        </div>

        <div class="mobile-player__progress-bar">
            <input class="mobile-player__progress" type="range" min="0" max="100" value="0" step="1">
            <div class="mobile-player__current-time medium-text"></div>
            <div class="mobile-player__remaining-time medium-text"></div>
        </div>

        <div class="mobile-player__controls">
            <div class="mobile-player__controls__options">
                <img src="/static/img/Options.svg" data-section="mobilePlayerTrackOptions" data-id="{{song.Id}}" alt="">
                <div class="mobile-player__options" style="display: none;" data-section="mobilePlayerOptions"
                    data-mobile-player="{{song.Id}}">
                    <div class="close-button">
                        <img data-section="closeButton" src="/static/img/arrowDown.svg" data-id="{{song.Id}}" alt="">
                    </div>
                    <div class="big-text options__share" data-section="mobilePlayerTrackShare" data-id="{{song.Id}}">
                        Поделиться
                        <div class="mobile-player__options__share__copied" data-mobile-player-track-share="{{song.Id}}">Ссылка скопирована</div>
                    </div>
                    <div class="big-text options__add-to-playlist" data-section="mobilePlayerShowAvaliblePlaylists"
                        data-id="{{song.Id}}">Добавить в плейлист</div>
                    <div class="mobile-options__avaliablePlaylists" style="display: none;" data-section="mobilePlayerList"
                        data-mobile-player-list="{{song.Id}}"></div>
                </div>
            </div>
            <div class="mobile-player__controls__prev"><img class="mobile-player__prev-img" data-section="prevBtn"
                    src="/static/img/SwitchBack.svg" alt=""></div>
            {{#if Playing}}
            <div class="mobile-player__controls__play"><img data-section="playBtn" class="mobile-player__playbutton"
                    src="/static/img/pauseBtn.png" alt=""></div>
            {{else}}
            <div class="mobile-player__controls__play"><img data-section="playBtn" class="mobile-player__playbutton"
                    src="/static/img/playButton.png" alt=""></div>
            {{/if}}
            <div class="mobile-player__controls__next"><img class="mobile-player__next-img" data-section="nextBtn"
                    src="/static/img/SwitchForward.svg" alt=""></div>
            <div class="mobile-player__controls__like"><img class="mobile-player__like-img" data-section="mobileLikeBtn"
                    src="/static/img/Like.svg" alt=""></div>
        </div>
        <div class="mobile-player__volume-bar">
            <div><img class="mobile-player__volume-img" src="/static/img/SoundOff.svg" alt=""></div>
            <input class="mobile-player__volume" type="range" min="0" max="100" value="0" step="1">
            <div><img class="mobile-player__volume-img" src="/static/img/SoundOn.svg" alt=""></div>
        </div>
    </div>
</div>