<div class="search">
    <h1>Треки</h1>
    <ul class="playlist">
        {{#if Tracks}}
            {{#each Tracks}}
                <li class="playlist__item" data-section="miniCollectionPlayButton" data-url="{{@index}}">
                    <div class="playlist__image-container" style="display: inline-block;">
                        <div class="medium-text playlist__index playlist__index__position"></div>
                        <div class="playlist__playbutton playlist__playbutton__position" data-section="miniCollectionPlayButton"
                            data-url="{{@index}}"></div>
                    </div>
                    <div style="display:inline-block">
                        <img class="playlist__photo" src="{{../port}}{{this.Preview}}" alt="">
                    </div>
                    <div class="medium-text playlist-item__name" data-section="miniCollectionPlayButton" data-url="{{@index}}"
                        style="display: inline-block;">
                        {{this.Name}}
                    </div>
                    <div class="medium-text playlist-item__options" style="display: inline-block;">
                        {{this.Duration}}
                    </div>
                </li>
            {{/each}}
        {{else}}
            <h1>По вашему запросу треки не найдены</h1>
        {{/if}}
    </ul>
    <h1>Исполнители</h1>
    <ul class="albumlist">
        {{#if Artists}}
            {{#each Artists}}
                <li class="albumlist__item">
                    <div class="albumlist__image-container">
                        <img class="albumlist__photo" data-section="link" data-url="/artist/{{this.Id}}" data-id="{{this.Id}}"
                            src="{{../port}}{{this.Avatar}}" alt="">
                    </div>
                    <a href="/artist/{{this.Id}}" class="medium-text albumlist-item__name" data-section="link"
                        data-id="{{this.Id}}" data-url="/artist/{{this.Id}}">
                        {{this.Name}}
                    </a>
                </li>
            {{/each}}
        {{else}}
            <h1>По вашему запросу исполнители не найдены</h1>
        {{/if}}
    </ul>
    <h1>Альбомы</h1>
    <ul class="albumlist">
        {{#if Albums}}
            {{#each Albums}}
                <li class="albumlist__item">
                    <div class="albumlist__image-container">
                        <img class="albumlist__photo" data-section="link" data-url="/album/{{this.Id}}" data-id="{{this.Id}}"
                            src="{{../port}}{{this.Preview}}" alt="">
                        <div class="albumlist__playbutton albumlist__playbutton__position" data-section="playButton"
                            data-url="{{this.Id}}"></div>
                    </div>
                    <a href="/album/{{this.Id}}" class="medium-text albumlist-item__name" data-section="link"
                        data-id="{{this.Id}}" data-url="/album/{{this.Id}}">
                        {{this.Name}}
                    </a>
                    <a href="/artist/{{this.ArtistId}}" class="small-text albumlist-item__name" data-section="link"
                        data-url="/artist/{{this.ArtistId}}" data-Id="{{this.ArtistId}}">
                        {{this.ArtistName}}
                    </a>
                </li>
            {{/each}} 
        {{else}}
            <h1>По вашему запросу альбомы не найдены</h1>
        {{/if}}
    </ul>
    <h1>Плейлисты</h1>
    <ul class="albumlist" style="padding-bottom: 10vh;">
        {{#if Playlist}}
            {{#each Playlists}}
                <li class="albumlist__item">
                    <div class="albumlist__image-container">
                        {{#if this.Preview}}
                            <img class="albumlist__photo" data-section="link" data-url="/playlist/{{this.Id}}" data-id="{{this.Id}}"
                                src="{{../port}}{{this.Preview}}" alt="">
                        {{else}}
                            <img class="albumlist__photo" data-section="link" data-url="/playlist/{{this.Id}}" data-id="{{this.Id}}"
                                src="/static/img/worm.webp" alt="">
                        {{/if}}
                        
                        <div class="albumlist__playbutton albumlist__playbutton__position" data-section="playButton"
                            data-url="{{this.Id}}"></div>
                    </div>
                    <a href="/playlist/{{this.Id}}" class="medium-text albumlist-item__name" data-section="link"
                        data-id="{{this.Id}}" data-url="/playlist/{{this.Id}}">
                        {{this.Name}}
                    </a>
                    <a href="/artist/{{this.ArtistId}}" class="small-text albumlist-item__name" data-section="link"
                        data-url="/artist/{{this.ArtistId}}" data-Id="{{this.ArtistId}}">
                        {{this.ArtistName}}
                    </a>
                </li>
            {{/each}}
        {{else}}
            <h1>По вашему запросу плейлисты не найдены</h1>
        {{/if}}
    </ul>
</div>