<div class="feed">
    <div class="big-text feed__title">Главное</div>
    <ul class="feed__list">
        {{#each FeedComponentConfig}}
            <li class="feed-list__item">
                <a class="feed-list-item__name" >
                    {{this.name}}
                </a>
            </li>
        {{/each}}
    </ul>
    <h1 class="feed__title">Новые треки, альбомы и сборники</h1>
    <ul class="albumlist">
        {{#each content}}
            <li class="albumlist__item">
                    <div class="albumlist__image-container">
                        <img class="albumlist__photo" data-section="link" data-url="/album/{{this.Id}}" data-id="{{this.Id}}" src="{{../host}}{{this.Preview}}" alt="">
                        <div class="albumlist__playbutton albumlist__playbutton__position" data-section="playButton" data-url="{{this.Id}}"></div>
                    </div>
                    <a href="/album/{{this.Id}}" class="medium-text albumlist-item__name" data-section="link" data-id="{{this.Id}}" data-url="/album/{{this.Id}}">
                        {{this.Name}}
                    </a>  
                    <a href="/artist/{{this.ArtistId}}" class="small-text albumlist-item__name" data-section="link" data-url="/artist/{{this.ArtistId}}" data-Id="{{this.ArtistId}}">
                        {{this.ArtistName}}
                    </a> 
            </li>   
        {{/each}}   
    </ul>
</div>
 