<div class="feedContainer">
    <div class="feedText">Главное</div>
    <ul class="feed">
        {{#each FeedComponentConfig}}
            <li class="feedItem">
                <div class="feeda" data-section="link" data-url="{{this.key}}">
                    {{this.name}}
                </div>
            </li>
        {{/each}}
    </ul>
    <h1 class="zagolovok">Новые треки, альбомы и сборники</h1>
    <div class="mainContainer">
        <ul class="content">
            {{#each content}}
                <li class="contentItem">
                    <div class="albumContainer">
                        <div class="imageContainer">
                            <img class="contentPhoto" data-section="link" data-url="album/{{this.Id}}" data-id="{{this.Id}}" src="{{../host}}{{this.Preview}}" alt="1">
                            <div class="playButton" data-section="playButton" data-url="{{this.Id}}"></div>
                        </div>
                        <div class="albumName" data-section="link" data-id="{{this.Id}}" data-url="album/{{this.Id}}">
                            {{this.Name}}
                        </div>  
                        <div class="artistName" data-section="link" data-url="artist/{{this.ArtistId}}" data-Id="{{this.ArtistId}}">
                            {{this.ArtistName}}
                        </div>
                    </div>  
                </li>   
            {{/each}}   
        </ul>
    </div>
</div>


    