<div>
    <div class="collection">
    {{#if user}}
    <div class="big-text collection__title">Коллекция</div>
    <ul class="collection__list">
        <li class="collection-list__item">
            <a class="collection-list__item__name" href="/collection/tracks" data-section="innerlink" data-url="/collection/tracks">
                Треки
            </a>
        </li>
        <li class="collection-list__item">
            <a class="collection-list__item__name" href="/collection/albums" data-section="innerlink" data-url="/collection/albums">
                Альбомы
            </a>
        </li>
        <li class="collection-list__item">
            <a class="collection-list__item__name" href="/collection/playlists" data-section="innerlink" data-url="/collection/playlists">
                Плейлисты
            </a>
        </li>
        <li class="collection-list__item">
            <a class="collection-list__item__name" href="/collection/artists" data-section="innerlink" data-url="/collection/artists">
                Исполнители
            </a>
        </li>
    </ul>
    {{else}}
    <div class="big-text artist__title">Авторизуйтесь чтобы добавлять песни и альбомы в коллекцию</div>
    {{/if}}
    </div>
    <div class="favTracks">
        <div class="large-text artist__title">Треки</div>
        <ul class="playlist">
            {{#each Tracks}}
                <li class="playlist__item" data-section="miniCollectionPlayButton" data-url="{{@index}}">
                    <div class="playlist__image-container" style="display: inline-block;">
                        <div class="medium-text playlist__index playlist__index__position"></div>
                        <div class="playlist__playbutton playlist__playbutton__position" data-section="miniCollectionPlayButton"
                            data-url="{{@index}}"></div>
                    </div>
                    <div style="display:inline-block">
                        <img class="playlist__photo" src="{{../port}}{{this.Preview}}" alt="">
                    </div>
                    <div class="medium-text playlist-item__name" data-section="miniCollectionPlayButton" data-url="{{@index}}"
                        style="display: inline-block;">
                        {{this.Name}}
                    </div>
                    <div class="medium-text playlist-item__duration" style="display: inline-block;">
                        {{this.Duration}}
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
