<div>
    <div class="collection">
    {{#if user}}
    <div class="big-text collection__title">Коллекция</div>
    <ul class="collection__list">
        <li class="collection-list__item">
            <a class="collection-list__item__name" href="/collection/tracks" data-section="innerlink" data-url="/collection/tracks">
                Треки
            </a>
        </li>
        <li class="collection-list__item">
            <a class="collection-list__item__name" href="/collection/albums" data-section="innerlink" data-url="/collection/albums">
                Альбомы
            </a>
        </li>
        <li class="collection-list__item">
            <a class="collection-list__item__name" href="/collection/playlists" data-section="innerlink" data-url="/collection/playlists">
                Плейлисты
            </a>
        </li>
        <li class="collection-list__item">
            <a class="collection-list__item__name" href="/collection/artists" data-section="innerlink" data-url="/collection/artists">
                Артисты
            </a>
        </li>
    </ul>
    {{else}}
    <div class="big-text artist__title">Авторизуйтесь чтобы добавлять песни и альбомы в коллекцию</div>
    {{/if}}
</div>
<div class="favPlaylists">
    <div class="large-text artist__title">Плейлисты</div>
    <div class="favPlaylists__create" data-section="link" data-url="/create_playlist">
        <div><img class="player-btns" src="/static/img/plus.svg"></div>
        <div class="medium-text">Создать</div>
    </div>
    <ul class="albumlist">
        {{#each Playlists}}
            <li class="albumlist__item">
                <div class="albumlist__image-container">
                    <img class="albumlist__photo" data-section="link" data-url="/album/{{this.Id}}" data-id="{{this.Id}}"
                        src="{{../host}}{{this.Preview}}" alt="">
                    <div class="albumlist__playbutton albumlist__playbutton__position" data-section="playButton"
                        data-url="{{this.Id}}"></div>
                </div>
                <a href="/album/{{this.Id}}" class="medium-text albumlist-item__name" data-section="link"
                    data-id="{{this.Id}}" data-url="/album/{{this.Id}}">
                    {{this.Name}}
                </a>
                <a href="/artist/{{this.ArtistId}}" class="small-text albumlist-item__name" data-section="link"
                    data-url="/artist/{{this.ArtistId}}" data-Id="{{this.ArtistId}}">
                    {{this.ArtistName}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>
</div>
