<div class="menu">
    <ul class="menu__links" data-section="menu-links">
        <li class="menu__item">
            <div class="logo">
                <img class="logo__photo" data-url="/feed/all" data-section="link" src="{{logo}}" alt="">
                <div class="logo__text" data-url="/feed/all" data-section="link">MusicOn</div>
            </div>
        </li>
        <li class="menu__item">
            <a class="menu-item__link" href="/feed/all" data-section="link" data-url="/feed/all">
                Главное
            </a>
        </li>
        <li class="menu__item">
            <a class="menu-item__link" href="/podcasts" data-section="link" data-url="/podcasts">
                Подкасты
            </a>
        </li>
        {{#if user}}
        <li class="menu__item">
            <a class="menu-item__link" href="/collection" data-section="link" data-url="/collection">
                Коллекция
            </a>
        </li>
        {{/if}}
    </ul>


    <div class="mobile-menu" data-section="menu-links">
         <div class="menu-icon" data-section="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <ul class="mobile-menu__links" data-section="mobile-menu">
            <li class="menu__item">
                <a class="mobile-menu-item__link medium-text" href="/feed/all" data-section="link" data-url="/feed/all">
                    Главное
                </a>
            </li>
            <li class="menu__item">
                <a class="mobile-menu-item__link medium-text" href="" data-section="link" data-url="">
                    Подкасты
                </a>
            </li>
            {{#if user}}
            <li class="menu__item">
                <a class="mobile-menu-item__link medium-text" href="/collection" data-section="link" data-url="/collection">
                    Коллекция
                </a>
            </li>
            {{/if}}
        </ul>
    </div>
   

    <ul class="menu__rest">
        <li class="menu__item">
            <input type="text" data-section="inputSearch" class="input-search"
                placeholder="Введите название песни или альбома">
        </li>
        <li class="menu__item">
            <img class="magnifying-glass" src="/static/img/Loupe.svg" data-section="search">
        </li>
        {{#if user}}
        <li class="menu__item">
            <div class="mini-profile">
                {{#if user.avatar}}
                <img class="mini-profile__avatar" data-url="/profile" data-section="link" src="{{port}}{{user.avatar}}"
                    alt="">
                {{else}}
                <img class="mini-profile__avatar" data-url="/profile" data-section="link" src="/static/img/worm.webp"
                    alt="">
                {{/if}}
                <h2 class="menu-item__link" data-section="signout">
                    Выйти
                </h2>
            </div>
        </li>
        {{else}}
        <li class="menu__item">
            <button class="default-button" data-url="/login" data-section="link">Войти</button>
        </li>
        {{/if}}
    </ul>


</div>