<div class="menucontainer">
    <ul class="links">
        <li class="menuItem">
            <img class="imgLogo" data-url="/feed/all" data-section="link" src="/static/img/Logo.svg" alt="">
            <div class="logoText" data-url="/feed/all" data-section="link">MusicOn</div>    
        </li>
        {{#each HeaderConfig}}
            <li class="menuItem">
                <h2 class="headera" data-url="{{this.href}}" data-section="link">
                    {{this.name}}
                </h2>
            </li>
        {{/each}}
    </ul>
    <ul class="rest">
        <li class="menuItem">
            <img class="magnifyingGlass" src="/static/img/Loupe.svg" alt="">
                <form class="inputSearch"> 
                    <input type="text" data-section="text" class="search" placeholder ="Введите название песни или альбома">
                </form>
        </li>
        {{#if user}}
        <li class="menuItem">
            <div class="profile">
            {{#if user.Avatar}}
            <img class="imgAvatar" src="{{port}}{{user.Avatar}}" alt="">
            {{else}}
            <img class="imgAvatar" src="{{port}}/static/img/worm.svg" alt="">
            {{/if}}
            <h2 class="headera" data-section="signout">
                Выйти
            </h2>
            </div>
        </li>
        {{else}}
        <li class="menuItem">
            <a href="login" data-section="/login" ><button class="defaultButton" data-url="login" data-section="link">Войти</button></a>
        </li>
        {{/if}}
    </ul>
</div>
