<div class="collection">
    <div class="large-text artist__title">Коллекция</div>
    <ul class="playlist album__list">
        {{#each Tracks}}
            <li class="playlist__item" data-section="miniPlayButton" data-url="{{@index}}">
                <div class="playlist__image-container" style="display: inline-block;">
                    <div class="medium-text playlist__index playlist__index__position"></div>
                    <div class="playlist__playbutton playlist__playbutton__position" data-section="miniPlayButton" data-url="{{@index}}"></div>
                </div>
                <div style="display:inline-block">
                    <img class="playlist__photo" src="{{../port}}{{this.Preview}}" alt="">
                </div>
                <div class="medium-text playlist-item__name" data-section="miniPlayButton" data-url="{{@index}}" style="display: inline-block;">
                    {{this.Name}}
                </div>
                <div class="medium-text playlist-item__duration" style="display: inline-block;">
                    {{this.Duration}}
                </div>
            </li>   
        {{/each}}   
    </ul>

</div>