<div class="album">
    <div class="info album__info">
        {{#if album.Preview}}
            <img class="info__photo" style="display: inline-block;" src="{{port}}{{album.Preview}}" alt="">
        {{/if}}
        <div style="display: inline-block;">
            <div class="large-text">{{album.Name}}</div>
            <a class="big-text albumlist-item__name" href="/artist/{{album.ArtistId}}" data-section="link"
                data-url="/artist/{{album.ArtistId}}">{{album.ArtistName}}
            </a>
            {{#if user}}
                <div class="big-like-btn" data-section="albumlike" data-url="{{album.Id}}">
                    {{#if album.isLiked}}
                    <div class=""><img class="big-like-btn__like" data-section="albumlike" src="/static/img/LikePressed.svg"></div>
                    {{else}}
                    <div class=""><img class="big-like-btn__like" data-section="albumlike" src="/static/img/Like.svg"></div>
                    {{/if}}
                    <div class="medium-text">Нравится</div>
                </div>
            {{/if}}
        </div>
    </div>
    <ul class="playlist album__list">
        {{#each album.Tracks}}
            <li class="playlist__item" data-section="miniPlayButton" data-url="{{@index}}">
                <div class="playlist__image-container" style="display: inline-block;">
                    <div class="medium-text playlist__index playlist__index__position"></div>
                    <div class="playlist__playbutton playlist__playbutton__position" data-section="miniPlayButton"
                        data-url="{{@index}}"></div>
                </div>
                <div class="medium-text playlist-item__name" data-section="miniPlayButton" data-url="{{@index}}"
                    style="display: inline-block;">
                    {{this.Name}}
                </div>
                <div class="playlist-item__options" style="display: inline-block;">
                    <div class="playlist-item__options__duration medium-text">
                        {{this.Duration}}
                    </div>
                    <div class="playlist-item__options__img">
                        <img src="/static/img/Options.svg" class="" data-section="trackOptions" data-id="{{this.Id}}" alt="">
                    </div>
                </div>
                <div class="options" data-section="{{this.Id}}">
                    <div class="medium-text options__add-to-playlist" data-section="showAvaliblePlaylists" data-id="{{this.Id}}">Добавить в плейлист</div>
                    <div class="options__avaliablePlaylists" data-section="{{this.Id}}">
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>