<div class="feedContainer">
    <div class="album">
        <img class="albumPhoto" style="display: inline-block;" src="{{port}}{{album.Preview}}" alt="">
        <div style="display: inline-block;">
            <div class="bigText albumInfo">{{album.Name}}</div>
            <h1>{{album.ArtistName}}</h1>
            <h2>{{album.ReleaseDate}}</h2>
        </div>
    </div>
    <div class="mainContainer">
        <ul class="songs">
            {{#each album.Tracks}}
                <li class="songItem">
                    <div class="imageContainer" style="display: inline-block;">
                        <div class="mediumText songName index"></div>
                        <div class="miniPlayButton" data-section="miniPlayButton" data-url="{{@index}}"></div>
                    </div>
                    <div class="mediumText songName" style="display: inline-block;">
                        {{this.Name}}
                    </div>
                    <div class="mediumText duration" style="display: inline-block;">
                        {{this.Duration}}
                    </div>
                </li>   
            {{/each}}   
        </ul>
    </div>
</div>


    