<div class="asd">
    <ul class="menu">
        <li class="menu__item">
            <a href=""><img class="imgLogo" src="./static/img/Logo.svg" alt=""></a>
            <div class="logoText">MusicOn</div>    
        </li>
        {{#each items}}
            <li class="{{this.className}}">
                <a class="headera" href="{{this.href}}" data-section="{{this.href}}">
                    {{this.name}}
                </a>
            </li>
        {{/each}}
        <li class="menu__item"><img src="./static/img/Loupe.svg" alt=""></li>
        <li class="menu__item">
            <form class="input_search"> 
                <input type="text" data-section="text" class="search" placeholder ="Введите название песни или альбома">
            </form>
        </li>
        {{#if isAuth}}
        <li class="menu__item">
            <div class="profile">
                <a href="/profile"><img class="imgAvatar" src="worm.jpg" alt=""></a>
                <a class="signout" href="/signout" data-section="/signout">
                    Выйти
                </a>
            </div>
        </li>
        {{else}}
        <li class="menu__item">
            <a href="login" data-section="/login" ><button class="loginButton" data-section="/login">Войти</button></a>
        </li>
        {{/if}}
    </ul>
</div>
