<div class="signup">
    <ul class="authlist">
        <div class="logo authlist__logo">
            <li class="authlist__item">
                <div>
                    <img class="logo__photo" data-section="link" data-url="/feed/all" src="/static/img/Logo.svg" alt="">
                </div>
                <div class="logo__text" data-section="link" data-url="/feed/all">MusicOn</div>
            </li>
        </div>
        <form method="post">
            {{#each SignUpConfig}}
                <li class="authlist__item">
                    <div class="medium-text">{{this.text}}</div>
                    <input class="auth-input" type="{{this.type}}" data-section="{{this.name}}" placeholder="{{this.text}}"
                        required>
                </li>
            {{/each}}
            <li class="authlist__item">
                <div class="medium-text">Дата рождения</div>
                <input class="auth-input" type="date" data-section="date" placeholder="" min="1901-01-01" max="{{Date}}"
                        required>
            </li>
            <li class="authlist__item">
                <div style="display: block;">
                    <div class="authlist__error__disabled" data-section="passcheck">Пароли не совпадают!</div>
                    <div class="authlist__error__disabled" data-section="lengthPassword">Пароль (от 6 до 30 символов)
                    </div>
                </div>
            </li>
            <li class="authlist__item">
                <button class="submit-big-button" data-section="/onboard/genres" type="submit">Зарегистрироваться</button>
            </li>
        </form>
        <li class="authlist__item">
            <div class="authlist-item__yet">
                Уже есть учетная запись?
                <div class="authlist-item__yet-link" data-section="link" data-url="/login"> Войдите</div>
            </div>
        </li>
    </ul>
</div>