<ul class="menu">
    {{#each items}}
        <li class="{{this.className}}">
            <a href="{{this.href}}" data-section="{{this.key}}">
                {{#if this.flag}}
                <img src="{{this.image}}" alt="" class="logo"> 
                <span class="logoText">{{this.name}}</span>    
                {{else}}
                {{this.name}}
                {{/if}}
            </a>
        </li>
    {{/each}}
    <li class="menu__item">
        <form class="input_search"> 
            <input type="text" name="text" class="search" placeholder ="Введите название песни или альбома">
        </form>
    </li>
    <li class="menu__item">
        <button class="loginButton">Войти</button>
    </li>
</ul>





